.body{
    background-color: yellow;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 2px solid black;
}
.eyes1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    align-items: center;
    position: relative;
    top: 80px;
    left: 70px;
    display: inline-block;
    margin: 30px;
    background-color: black;
    border-radius: 50%;
    
}
.eyes2{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    align-items: center;
    position: relative;
    top: 80px;
    left: 105px;
    display: inline-block;
    margin: 30px;
    background-color: black;
    border-radius: 50%;
    
}
.mouth{
    width: 250px ;
    height: 75px;
    top :350px;
    left: 130px;
    position: absolute;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-radius: 0px 0px 50px 50px;
    background-color: black;
}