.con{
    background-color: antiquewhite;
    height: 300px;
    width: 700px;
    display: flex;
    flex-direction: row;
   # flex-wrap: wrap;
    justify-content: space-evenly;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
}

#item1 {
    flex-direction: row; /* Note: this only does something if you also add display: flex; to this item */
    align-self: flex-end;
    background-color: black; 
    flex: 2 100px;
}
.ele{
    height: 100px;
    width: 300px;
 font-size :10px;;
}